
@{
    ViewBag.Title = "ShowExamples";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<Booking.Models.Example>


@foreach (var example in Model)
{
    <h2>@example.id</h2>
    <h2>@example.Name</h2>
}

<h2>ShowExamples</h2>

